.idea/
.ipynb_checkpoints/
__pycache__/
inputs/*
outputs/*

# Examples
!inputs/pacman.jpg
!outputs/banner_evolved.jpg
!outputs/pacman_evolution_progress.gif
!outputs/pacman_evolution_progress_field_penalty.gif